{{extend 'layout.html'}}


<h1>About</h1>
<br/>

<div style="text-align:justify;">

<br/>

The GRYFUN webtool was developed at the <a href="http://lasige.di.fc.ul.pt">LaSIGE</a> group within the context of <a href="http://xldb.di.fc.ul.pt">XLDB Research Team</a>'s Biomedical Ontology Applications (<a href="http://xldb.fc.ul.pt/wiki/BOA">BOA</a>) ongoing activities. This tool is intended for the visualization, filtering and analysis of GO functional annotation profiles in sets (or families) of annotated proteins within larger collections (or classes). The implemention of this tool relies on the Python Web Framework <a href="http://www.web2py.com">web2py</a> technology.
</br>
 
<br/>
<br/>


<b>Data Sources</b><br/>
<br/>

The underlying database is built from the sources of the UniProt knowledgebase <a href="ftp://ftp.ebi.ac.uk/pub/databases/uniprot/previous_releases/release-2013_03/knowledgebase/" >2013-03</a> release as well as the corresponding UniProt gene association (GOA) tables and respective Gene Ontology (GO) tables.

<br/>
<br/>

<!--
<b>Publications</b><br/>
<br/>
-->
<!--Bastos et al -->

<br/>
<br/>

<b>Funding</b></br>
</br>
The development of this tool was financially supported by the Portuguese Fundacão para a Ciência e Tecnologia <a href="http://www.fct.pt/">(FCT)</a> through PhD Grant ref. SFRH/BD/48035/2008.
</br>
</br>
</br>

<b>Contact</b><br/>
<br/>

<img src="/gryfun/static/images/correio-e.jpg" />


</div>
