{{extend 'layout.html'}}




<h5>Visually explore the GO annotation of your protein sets within your collections</h5>

<div style="width:800px;"> <!-- form encapsulating div ### border:2px solid;display:block; -->


    <div style="min-width:800px; overflow:hidden;">

        {{=form.custom.begin}}

        <div style="float:left;margin:5px;">Collection<br/>
        <div>{{=form.custom.widget.coll_acc}}</div></div>


       <div style="float:left;margin:5px;">Set<br/>
       <div id="anthology_set_acc__row"></div></div>


        <div style="float:left;margin:5px;">GO Aspect<br/>
        <div>{{=form.components[0][2][1]}}</div></div>


        <div style="float:left;margin:5px;"><br/>{{=form.custom.submit}}</div>


<!-- -->
    </div>

</div>






<div style="margin:5px;">
Evidence Code Filter <a onclick="jQuery('#evidencecodes').slideToggle();  return false;" style="text-decoration:none; margin-right:0.3em;" href="javascript:void(0);" title="collapse/expand"><i class="fa fa-expand"></i></a>
</div>

<!--
    </div>

</div>
-->



<div style="with:800px;">


        <div id="evidencecodes" style="min-width:800px; overflow:hidden; display:none;">


        <div style="float:left; margin:5px"><br/>

        <div>{{=form.custom.widget.my_options[0][0][0]}} <a title="Experimental">EXP</a></div>
        <div>{{=form.custom.widget.my_options[1][0][0]}} <a title="Inferred from Direct Assay">IDA</a></div>
        <div>{{=form.custom.widget.my_options[2][0][0]}} <a title="Inferred from Physical Interaction">IPI</a></div>
        <div>{{=form.custom.widget.my_options[3][0][0]}} <a title="Inferred from Mutant Phenotype">IMP</a></div>
        <div>{{=form.custom.widget.my_options[4][0][0]}} <a title="Inferred from Genetic Interaction">IGI</a></div>
        <div>{{=form.custom.widget.my_options[5][0][0]}} <a title="Inferred from Expression Pattern">IEP</a></div></div>


       <div style="float:left;margin:5px;"><br/>

        <div>{{=form.custom.widget.my_options[6][0][0]}} <a title="Inferred from Sequence or Structural Similarity">ISS</a></div>
        <div>{{=form.custom.widget.my_options[7][0][0]}} <a title="Inferred from Sequence Orthology">ISO</a></div>
        <div>{{=form.custom.widget.my_options[8][0][0]}} <a title="Inferred from Sequence Alignment">ISA</a></div>
        <div>{{=form.custom.widget.my_options[9][0][0]}} <a title="Inferred from Sequence Model">ISM</a></div>
        <div>{{=form.custom.widget.my_options[10][0][0]}} <a title="Inferred from Genomic Context">IGC</a></div></div>


       <div style="float:left;margin:5px;"><br/>

        <div>{{=form.custom.widget.my_options[11][0][0]}} <a title="Inferred from Biological aspect of Ancestor">IBA</a></div>
        <div>{{=form.custom.widget.my_options[12][0][0]}} <a title="Inferred from Biological aspect of Descendant">IBD</a></div>
        <div>{{=form.custom.widget.my_options[13][0][0]}} <a title="Inferred from Key Residues">IKR</a></div>
        <div>{{=form.custom.widget.my_options[14][0][0]}} <a title="Inferred from Rapid Divergence">IRD</a></div>
        <div>{{=form.custom.widget.my_options[15][0][0]}} <a title="inferred from Reviewed Computational Analysis">IEP</a></div></div>


       <div style="float:left;margin:5px;"><br/>

        <div>{{=form.custom.widget.my_options[16][0][0]}} <a title="Non-traceable Author Statement">NAS</a></div>
        <div>{{=form.custom.widget.my_options[17][0][0]}} <a title="Traceable Author Statement">TAS</a></div>
        <div>{{=form.custom.widget.my_options[18][0][0]}} <a title="Inferred by Curator">IC</a></div>
        <div>{{=form.custom.widget.my_options[19][0][0]}} <a title="No biological Data available">ND</a></div>


<!--       <div style="float:left;margin:5px;">Electronic<br/>  -->

        <div>{{=form.custom.widget.my_options[20][0][0]}} <a title="Inferred from Electronic Annotation"><b>IEA</b></a></div></div>









        {{=form.custom.end}}

	</div>


</div> <!-- close form encapsulating div ### border:2px solid blue; -->









<div id="centralDiv" style="">


<div id="setInfoDiv" style="width:100%;">

    {{if response.setinfo != None:}}
    {{=XML(response.setinfo)}}
    {{else:}}
    {{pass}}

</div>


<div id="DAGport" style="position: relative; margin: 0 auto; width:100%; min-width:800px; border:1px solid orange; text-align:center; overflow:hidden; ">

    {{if response.dag != None:}}
    {{=XML(response.dag)}}
    {{else:}}
    {{pass}}

</div>


<div id="termStats" style="width:100%;">

    {{if response.termstats != None:}}
    {{=XML(response.termstats)}}
    {{else:}}
    {{pass}}

</div>


</div> <!-- close centralDiv -->




<div id="Floaters" style="position:absolute; left:0px; top:0px;"></div>


<script>

try{ var lastC = {{=form.vars.coll_acc }}; } catch(err){ lastC = 'None'; } 
try{ var lastS = {{=form.vars.set_acc }}; }catch(err){ lastS = 'None'; }


var uid = {{=auth._get_user_id()}};

jQuery(document).ready(function(){

    init_collection_protset_cascade_explore(uid, lastC, lastS);

    jQuery('#DAGimg').load(function(){
    jQuery("#DAGport").scrollview({ grab:"/gryfun/static/images/openhand.cur", grabbing:"/gryfun/static/images/closedhand.cur"});
    });

}); // closes document READY

        
// window.onresize = function() {
//    resize_checker();
// }

</script>
