{{('message' in globals())}}
{{extend 'layout.html'}}




<div style="min-width: 800px;">
 
  <div class="leftside">  <!-- style="border: solid 1px yellow;"> -->
    {{=IMG( _src=URL('static', 'images/gryfun-logo-10.png') )}}        
  </div>

{{if auth._get_user_id() < 0:}}

  <div class="rightside" style="text-align:center; width:250px;"> <!-- border:solid 1px green;"> -->

    Login as<br/> 
    <INPUT type="button" style="margin: 0 auto;" class="guestButton" value="Guest"
    onclick="document.location='{{=URL(r=request,f='guest_login')}}'"/>
    <br/>-- or --<br/>

    <div>
      <INPUT type="button" style="margin: 0 auto;" class="registerButton" value="Login/Register"
      onclick="document.location='{{=URL('gryfun', 'default', 'user', args=['login'], vars=dict(_next='/gryfun/default/index') )  }}'" />
    </div>

  </div>

<div style="clear:both;" ></div>

{{else:}}

<div class="rightside"></div>
<div style="clear:both;" ></div>
{{pass}}

</div>



 
<br/>
<br/>
<div style="text-align:justify"><b>GRYFUN</b> allows the visualization, filtering and subsequent analysis of Gene Ontology (GO) annotation profiles. A GO annotation functional profile consists of the collection of GO terms that annotate a given set of proteins. (e.g. protein family). GO comprehends three orthogonal ontology aspects - <i>biological process</i>, <i>molecular function</i> and <i>cellular component</i>. Each of these three GO aspects are structured as Directed Acyclic Graphs (DAGs).</div>

<br/>
<br/> 
<div style="text-align:justify"><b>GRYFUN</b>'s central visualization mode revolves around generating and displaying sub-graphs that subsume all the GO annotations for a given protein set. The represented DAGs are comprised of nodes and edges and whereas each node represents a GO term and the connecting directed edges represent taxonomic relationships between them. On the original GO DAGs these would be <i>is_a</i> relationships where starting from children and pointing towards parents, all converging into a common root parental term. However, on GRYFUN the edge direction is reversed. Also, the edge thickness is proportional to the number of proteins annotated to any given (non-leaf node) that manage to be annotated by one of its children terms. This couple of features gives a visual cue on both term distribution and how overall the specificity of GO annotations within a given protein set. Additionally, relevant GO-based annotation and statistic metrics are also displayed. Moreover, this webtool enables the user to interactively create further subsets of proteins associated to terms by clicking their respective nodes on the DAG.</div>
