{{extend 'layout.html'}}



<h3>Add proteins to sets within your collections</h3><br/>



<div style="width:800px;"> <!-- encapsulating div -->


{{=form.custom.begin}}


<div class="leftside" style="width:400px;">

Paste your UniProt protein accessions here 
<i title="The UniProt accession numbers pasted below that are 
also detected in our background database will be imported 
to your set" class="fa fa-info-circle"></i>:<br/> 
<div style="width:325px;">{{=form.components[0][2][1]}}</div>


</div> <!-- close left side -->




<div class="rightside" style="width:400px;">

<div>
    Create/Select Collection:<br/>
    <div id="anthology_coll_acc__row">{{=form.components[0][0]}}</div>
    
    <br/>
    Create/Select Set:<br/>
    <div id="anthology_set_acc__row" >{{=form.components[0][1]}}</div>

</div>
    
    <br/>
    <br/>
    <br/>
    <br/>{{=form.custom.submit}}

{{=form.custom.end}}


</div> <!-- close right side -->

<br style="clear:both;">



</div> <!-- close encapsulating div -->



{{=formmodalC}}

{{=formmodalS}}



<script>


var uid = {{=auth._get_user_id()}};

jQuery(document).ready(function(){
    init_collection_protset_cascade(uid);                                 
    replace_protset_dropdown();                                 	
			
});


</script>
