{{extend 'layout.html'}}


<a name="top"></a>
<br/>
<br/>

<h1>How to use GRYFUN</h1>
<br/>
<br/>


<a href="#input"> <h3>1. Data input</h3></a> 
<a href="#visual"> <h3>2. Data visualization</h3></a> 
<a href="#manage"> <h3>3. Data management</h3></a> 

<br/>
<br/>


<a name="input"></a>
<br/>
<br/>
<h2>1. Data input <a style="font-size:small;" href="#top"><sub>[back to top]</sub></a> </h2>

<br/>

<div style="min-width:800px; max-width:800px;">

<div style="text-align:justify;">

GRYFUN's data storage operates around two key concepts: <b>Sets</b> and <b>Collections</b>. Each <b>Set</b> will hold of a number of associated proteins (as UniProt accession numbers), whereas a <b>Collection</b> comprises of any number of <b>Sets</b>. 

<br/>
<br/>

In order to use GRYFUN at least one <b>Collection</b> and one <b>Set</b> have to be created and the <b>Set</b> populated with UniProt accession numbers.
These operations can be done at the 

{{=A('Input', _href=URL('gryfun', 'default', 'input'), _target='_blank'  ) }}

page where a form like the one depicted below can be found.

<br/>
<br/>
<br/>


<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/input-00c.png') )}}
</div>


<br/>
<br/>
<br/>

Hence, the first step into using GRYFUN is the creation of a <b>Collection</b> and that can be achieved by clicking on the <i class="icon-plus-sign"></i><a>New</a> button next to the Collection dropdown menu. Upon doing that a modal window (like the one shown below) will appear where the desired name for new <b>Collection</b> can be inserted.

<br/>
<br/>
<br/>


<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/input-01.png'), _width='800px' )}}
</div>


<br/>
<br/>
<br/>


After creating the first <b>Collection</b> (and having it selected from the respective dropdown menu) another <i class="icon-plus-sign"></i><a>New</a> button will appear next to the <b>Set</b> dropdown menu. Clicking on that button will display yet another modal window where this time the name of the first <b>Set</b> (belonging to the previously created <b>Collection</b>), can be inserted (see below). The new <b>Set</b> will be created upon pressing the Submit button.

<br/>
<br/>
<br/>


<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/input-02a.png'), _width='800px' )}}
</div>


<br/>
<br/>
<br/>

Finally, actual protein accessions can be added to the <b>Set</b> by pasting UniProt accession numbers into the respective input text area (see below) and pressing Submit to associate them with the recently created <b>Collection/Set</b>. This procedure can also be used to add further protein accessions to already existing <b>Sets</b>.

<br/>
<br/>
<br/>


<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/input-03c.png') )}}
</div>


<br/>
<br/>
<br/>

<b>Notice</b>:<br/> 

The protein input box filters its input through three sequential stages of validation: <br/>
<br/>
<b>1</b>: Alphanumeric words of length six are captured as candidate accession numbers.<br/>
<b>2</b>: Candidate accession numbers are validated against our local UniProt database version.<br/>
<b>3</b>: Valid UniProt are then checked for absence in the destination <b>Set</b>.<br/>
<br/>
All UniProt accession numbers that pass these three stages of validation are then added to the destination <b>Set</b>.

<br/>
<br/>

</div> <!-- close justify div -->

</div> <!-- close INPUT help div -->








<a name="visual"></a>
<br/>
<br/>

<h2>2. Data visualization <a style="font-size:small;" href="#top"><sub>[back to top]</sub></a> </h2>

<br/>
<br/>


<div style="min-width:800px; max-width:800px;">

<div style="text-align:justify;">

The  {{=A('Explore', _href=URL('gryfun', 'default', 'explore'), _target='_blank'  ) }}  page provides the core functionalities of GRYFUN. The functional annotations are explored per <b>Collection</b>/<b>Set</b> and desired Gene Ontology <b>(GO) sub-ontology</b>.


<br/>
<br/>
<br/>


<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-00_S2.png'), _width='800px' )}}
</div>


<br/>
<br/>
<br/>

Additionally, if there any concerns with annotation quality an annotation <b>Evidence Code</b> filter can be applied before query submission. That will ensure that only proteins (and their respective annotations) of the chosen <b>Evidence Code</b> types are used to generate the annotation graph. By default all <b>Evidence Code</b> types are pre-selected.

<br/>
<br/>
<br/>

<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-00_S3.png'), _width='800px' )}}
</div>

<br/>
<br/>
<br/>

After the submitted query is processed, generic information about the current <b>Set</b>, in the context of the
currently queried <b>GO sub-ontology</b> under analysis, is displayed in a header (see below).




<br/>
<br/>
<br/>


<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-01_S2b.png'), _width='800px' )}}
</div>


<br/>
<br/>
<br/>

Besides the names of the <b>Collection</b> and <b>Set</b> being queried the header also displays:<br/>
<br/>
1. <b>Total set size</b>: number of total UniProt entries on the current <b>Set</b>.<br/>
2. <b>Annotation coverage</b>: percentage (and number)  of UniProt entries of the current <b>Set</b> annotated in the current <b>GO sub-ontology</b>.<br/>
3. <b>Current root</b>: GRYFUN allows to root the annotation graph at different terms other than the actual <b>GO sub-ontology</b> root terms.<br/>
4. <b>Current coverage</b>: when a {{=A( 'new root', _href=URL('gryfun', 'default', 'concepts#rerooting'), _target='blank' ) }} is chosen it shows how many UniProt entries are annotated to that new root term.<br/>
<br/>
Additionally, the last line of the header shows the breakdown of the UniProt entries in the current <b>Set</b> regarding each taxonomical Superkindgom. 
Also, the header contains two convenience buttons: <b>Export .png</b> and <b>Export .dot</b>. The allow to open a new tab/save the image file of the generated annotation graph and the underlying graph file (in dot format) respectively, so that you might use them with external applications.

<br/>
<br/> 

The <b> annotation graph</b> is displayed after the header element, and it is the most interactive element on this page. Each node on 
the graph represents an annotation term (white nodes: inherited annotations, color nodes: direct annotations). Unlike the actual GO term graphs here the
directionality of the edges points away from the common root term in order to convey "annotation flow". This is further enhanced by edge thickness
which is proportional to the number of UniProt entries "flowing" from one term to its respective child terms.  



<br/>
<br/>
<br/>

<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-02_S2a.png'), _width='800px' )}}
</div>

<br/>
<br/>
<br/>


Hovering the mouse cursor over the annotation term nodes brings up the term name plus summary annotation statistics. On the other hand, clicking 
a node generates a dragable window containing all the proteins in the <b>Set</b> annotated to that term. The protein information on display there 
consists of the UniProt accessions numbers and the respective protein names, being grouped by superkingdom in individual and sortable (click the headers) 
tables. That information can be exported as a Tab-Separated Value (TSV) file by selecting the desired protein entries and pressing the <b>Export</b> 
button on the dragable window. The resulting TSV file can then be easily imported by any Spreedsheet application. 

<br/>
<br/>
<br/>

<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-04_S2a.png'), _width='800px' )}}
</div>

<br/>
<br/>
<br/>


In addition to the tables' sortable fields, the tables themselves can also be collapsed/expanded just by pressing the 
respective <b><a><i class="fa fa-chevron-up"></i></a> button</b>. The same goes with the whole dragable window that can 
be collapsed into just the handle.

<br/>
<br/>
<br/>


<div style="min-width:800px; max-width:800px;" >


<div class="leftside imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-05a.png'), _width='380px' )}}
</div>

<div class="rightside imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-05b.png'), _width='380px' )}}
</div>


<br style="clear:both;"/>

</div>


<br/>
<br/>
<br/>

This window expanding/collapsing feature can be useful to allow several term node information dragable windows
simultaneously on screen for comparison purposes. 




<br/>
<br/>
<br/>

<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-05c.png'), _width='800px' )}}
</div>

<br/>
<br/>
<br/>



One of the most important features of GRYFUN is the ability to choose any non-leaf node and <b>re-root</b> the annotation graph at 
that node. Doing so enables the selection and inspection of protein groups that share a set of more closely related funtions. In the 
example below the set <b>PL1</b> from the <b>Polysaccaride Lyase</b> collection is being re-rooted at the <b>lyase activity</b> 
term, by pressing the respective button 
<span class="fa-stack"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-sitemap fa-stack-1x"></i></span> 
located on its term node information window. 
 


<br/>
<br/>
<br/>

<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-06_S2a.png'), _width='800px' )}}
</div>

<br/>
<br/>
<br/>

The {{=A('Explore', _href=URL('gryfun', 'default', 'explore'), _target='_blank'  ) }} 
page resulting from the <b>re-rooting</b> operation described above can be seen below. Consequently there is a focus over the proteins
annotated with the term <i>lyase activity</i> (<b>Current root</b>) and only this term and their children terms are considered to generate 
the new re-rooted <b>annotation graph</b>. It should be noted that this feature only masks terms while providing a '<b>focused view</b> over 
a particular area of the annotation graph. As can be seen below, this enables the focus on particular activities that can be more relevant to 
a in particular protein <b>Set</b> undergoing study while ignoring possibly accessory functions. However, if there is need to study <b>only</b> 
the proteins involved in the '<b>focused view</b>', those proteins should be exported and inserted as a new <b>Set</b>.


<br/>
<br/>
<br/>

<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-07_S2a.png'), _width='800px' )}}
</div>

<br/>
<br/>
<br/>


The last section of the {{=A('Explore', _href=URL('gryfun', 'default', 'explore'), _target='_blank'  ) }}
 page is the terms information table, which like the previously mentioned protein tables above, is also  
sortable and the selected entries (alongside with their associated data) can be exported as a TSV file with just a press of a button 
(<b>Export terms</b>).


<br/>
<br/>
<br/>

<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/visual-03_S2a.png'), _width='800px' )}}
</div>

<br/>
<br/>
<br/>

Besides the term name the terms tables display the following fields:<br/>
<br/>
<b>occ</b>: number of term occurrences, that is, how many proteins are annotated with that term in the given <b>Set</b>.<br/>
<b>IC score</b>: Information Content (IC)-based score, relying on the Uniprot-Gene Ontology Annotation associations (GOA) as annotation corpus.<br/>
<b>p-value</b>: nominal p-value for the term enrichment (via Elim procedure) in current <b>Set</b> relative to the remainder of the <b>Collection</b> (background).<br/>






</div> <!-- close justify div -->

</div> <!-- close INPUT help div -->





<br/>
<br/>


<a name="manage"></a>
<br/>
<br/>
 
<h2>3. Data management <a style="font-size:small;" href="#top"><sub>[back to top]</sub></a> </h2>

<br/>



<div style="min-width:800px; max-width:800px;">

<div style="text-align:justify;">

The
{{=A('Manage', _href=URL('gryfun', 'default', 'manage'), _target='_blank'  ) }}

page, just like the {{=A('Input', _href=URL('gryfun', 'default', 'input'), _target='_blank'  ) }} page allows the creation of new <b>Collections</b> and <b>Sets</b> but (currently) without the ability to provide protein input. On the other the hand, it adds the feature to <i class="icon-minus-sign"></i><a>Delete</a> either full <b>Collections</b> or <b>Sets</b> alongside with their associated UniProt entries (see below).

<br/>
<br/>
<br/>

<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/manage-01.png'), _width='800px' )}}
</div>

<br/>
<br/>
<br/>

<div class="imgShadow">
{{=IMG( _src=URL('static', 'images/help/manage-02.png'), _width='800px' )}}
</div>

<br/>
<br/>
<br/>

In the meantime, we are planning to add extended funtionalities for the 
{{=A('Manage', _href=URL('gryfun', 'default', 'manage'), _target='_blank'  ) }}
page in order to allow management of data at the granular level of individual UniProt entries. 



</div> <!-- close justify div -->

</div> <!-- close INPUT help div -->

