{{extend 'layout.html'}}


<h3>Manage your collections</h3><br/>


<div> 

{{=form.custom.begin}}

<div>
    Select Collection:<br/>
    <div id="anthology_coll_acc__row">{{=form.components[0][0]}} </div>  
    
    <br/>
    Select Protein Set:<br/>    	
    <div id="anthology_set_acc__row" >{{=form.components[0][1]}}</div>

</div>


{{=form.custom.end}}

</div>


{{=formmodalC}}

{{=formmodalS}}




<script>


var manage = true;

var uid = {{=auth._get_user_id()}};

jQuery(document).ready(function(){
	 
    jQuery("#anthology_coll_acc__label").hide();
	 
    init_collection_protset_cascade_manage(uid);
    init_protset_list_manage();                                 
    replace_protset_dropdown();   					// on the "Add Set" modal window                              	
													
			
});

</script>
