{{extend 'layout.html'}}


<div style="text-align:center;"><h4>Experiment with GRYFUN by either using:</h4></div> 

<br/>
  <div style="text-align:center; width:500px; margin: 0 auto;"> 

    <div class="leftside">
    <INPUT type="button" style="margin: 0 auto;" class="guestButton" value="Demo Data"
    onclick="document.location='{{=URL(r=request,f='guest_login')}}'"/>
    </div>


    <div class="rightside">
      <INPUT type="button" style="margin: 0 auto;" class="registerButton" value="Your Data"
    onclick="document.location='{{=URL(r=request,f='temp_user')}}'"/>
    </div>

  </div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



<div style="text-align:center;">

alternatively, 
<INPUT type="button" style="margin: 0 auto;" class="" value="Register"
      onclick="document.location='{{=URL('gryfun', 'default', 'user', args=['login'], vars=dict(_next='/gryfun/default/index') )  }}'" />
in order to create your permanent protein Sets and Collections.

</div>





