{{extend 'layout.html'}}

{{if guest != True and temp != True:}}
<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>


{{elif guest == True:}}
<div align="justify">

<h5>The <u>Guest account</u> you are currently using allows experimenting with our graph 

    {{=A('EXPLORE', _href=URL('gryfun', 'default', 'explore')) }}
 
    feature using only preloaded Collections. 
    </br>
    </br>
    These were extracted from the following resources:</br>
    </br>
    The CAZy and Polysaccaride Lyase (a sub-set of CAZy) Collections were extracted from the <a href="http://www.cazy.org/" target="_blank" >CAZy</a> database.</br>
    The MEROPS99 Collection was extracted from the <a href="http://merops.sanger.ac.uk/download_list.shtml" >MEROPS</a> database, release 9.9.</br>

    The YHTP2008 Collection was extracted from the <a href="http://wodaklab.org/cyc2008/downloads">CYC2008</a>'s Annotated Yeast High-Throughput Complexes project file.</br>    
    The CystFib Collection was derived from the respective upregulated set and background (micro-array) set in the <a href="http://respiratory-research.com/content/14/1/38">Changes in transcriptome of native nasal epithelium expressing F508del-CFTR and intersecting data from comparable studies</a> research paper.</br>    

</h5>

</br>
</br>


<h4>
    If you need to use your own Sets and construct your own Collections please consider 
    <a href="{{=URL('gryfun', 'default', 'logout_and_register')  }}">logging off and registering</a>
    a regular user account.

</h4>

</div>

{{elif temp == True:}}
<h2>Available only to registered accounts!</h2>

This is only a temporary account and your data will be unavailable after the session expires! <br/>
If you want to save your own Collections and Sets please consider 
    <a href="{{=URL('gryfun', 'default', 'logout_and_register')  }}">logging off and registering</a>
    a regular user account.

{{else:}}
{{pass}}




<div id="web2py_user_form">
{{
try:

if request.args(0)=='login':
    if not 'register' in auth.settings.actions_disabled:
        form.add_button(T('Register'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn')
    pass
    if not 'request_reset_password' in auth.settings.actions_disabled:
        form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn')
    pass
pass
=form

except:
pass
}}
</div>
<script language="javascript"><!--
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
//--></script>
